body {
    color: #000;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100000px;
}

.channelDay {
    width: 100%;
}

.date {
    font-weight: bold;
    font-size: xx-large;
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.wochentag {
    font-weight: bold;
    font-size: xxx-large;
    display: inline;
}

.datum {
    font-weight: bold;
    font-size: x-large;
    display: inline;
}

.channel {
    max-width: 350px;
    justify-content: space-between;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    /**/
    float: left;
    margin: 5px 10px 0px 10px;
}

.channelHead {
    background-color: #318196;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    padding: 5px;
    margin-bottom: 5px;
}

.onPrevDay {
    background-color: #ededff;
}

.onDay {
    background-color: #fff;
}

.programme.prominent {
    margin-top: 10px;
}

.programme.nonprominent {
    display: inline;
}

.nowRunning {
    background-color: #ffffcc !important;
}

.prominent {
    /* https://stackoverflow.com/questions/17158253/indent-starting-from-the-second-line-of-a-paragraph-with-css */
    padding-left: 1.5em;
    text-indent: -1.5em;
}

.nonprominent * {
    width: 0;
    height: 0;
    display: none;
}

.prominent * {
    display: inline;
}

.channelName {
    width: 0;
    height: 0;
    display: none;
}

.start {
    display: inline;
    font-weight: bold;
    font-size: 95%;
}

.prominent .start {
    font-size: 130%;
}

.nonprominent .title {
    font-size: 95%;
    font-weight: normal !important;
    display: inline;
}

.prominent .title {
    display: inline;
    font-size: 130%;
    font-weight: normal;
}

.prominent .sub-title {
    font-size: normal;
    font-style: italic;
    display: inline;
}

.prominent .desc {
    font-size: italic;
    display: inline;
}

.prominent .category {
    display: inline;
    font-style: italic;
}

.title,
.category {
    color: #080;
}

.movie .title,
.movie .category {
    color: #a00;
}

.series .title,
.series .category {
    color: #000;
}