<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Guide</title>
</head>

<body>
    {% for day in guide.days %}
    <div class="channelDay">
        {% for channel in day.channels %}
        <div class="channel">

            <div class="channelHead">
                {{ channel.name }}
            </div>
            {% for prog in channel %}
            <div class="programme{% if prog.prominent %} prominent{% else %} nonprominent{% endif %}">
                <div class="channelName">
                    {{ prog.channel.name }}
                </div>
                <div class="start">
                    {{ prog.startTime() }}
                </div>
                {% for kvPair in prog.data.items() %}
                <div class="{{ kvPair[0] }}" lang="de">
                    {% if kvPair[0] == "category" %}&#11208;{% endif %}{{ kvPair[1] }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
        {% endfor %}
    </div>
    {% endfor %}
</body>

</html>